
@{
    ViewBag.Title = "Completed";
}


<div class="container-md">
    <h2 style="margin-top:50px;">Siparişiniz Tamamlandı.</h2>
    <h4>Satın Aldığınız Ürünler En Kısa Zamanda Kargoya Verilecektir.</h4>
</div>

